.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    font-size: 45px;  /* Adjusted size for text */
    font-weight: bold;
    font-family: Montserrat;
    color: tomato; /* Set text color to tomato */
    text-decoration: underline; /* Remove underline */
}
.navbar .profile{
    width: 40px;
}